@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Berkshire+Swash&family=Monoton&display=swap') ;

body {
  background-color: rgb(231, 228, 228);
  background-image: url('/home/malu/Documentos/trybe-projetos/sd-025-b-project-tryunfo/images/damaevagabundo.png');
  background-position: right center;
  background-repeat: no-repeat;
}

h1, h2 {
  font-family: Berkshire Swash , cursive;
  margin: 20px;
  text-align: center;
}

h1 {
  font-size: 400%;
}

h2 {
  font-size: 200%;
}

.body {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-top: 6%;
}

h4 {
  margin: 16px;
}

.add-card {
  align-items: center;
  background-color: rgb(187, 222, 232);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 20px;
  width: 20rem;
}

.card {
  align-items: center;
  background-color: rgb(26, 11, 4);
  border-radius: 10px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 20px;
  text-align: center;
  width: 20rem;
}

input {
  align-items: flex-end;
  flex: 0 0 200px;
  height: 20px;
  margin-left: 10px;
}

.card img {
  width: 150px;
}

.saved-cards-container {
  border: 2px solid rebeccapurple;
}

footer {
  display: flex;
  flex-direction: column;
  font-family: Berkshire Swash , cursive;
  text-align: center;
}
